.u-block-8f79-2 {position: absolute; bottom: 10px}
.u-block-8f79-3 {position: absolute; left: calc(((100% - 1140px) / 2) + -65px); width: 40px; height: 40px}
.u-block-8f79-4 {position: absolute; width: 40px; height: 40px; right: calc(((100% - 1140px) / 2) + -65px)} 

@media (max-width: 1199px){ .u-block-8f79-3 {left: calc(((100% - 1140px) / 2)  + 46px)}
.u-block-8f79-4 {right: calc(((100% - 1140px) / 2)  + 46px)} }

@media (max-width: 991px){ .u-block-8f79-3 {left: calc(((100% - 1140px) / 2)  + 169px)}
.u-block-8f79-4 {right: calc(((100% - 1140px) / 2)  + 169px)} }

@media (max-width: 767px){ .u-block-8f79-3 {left: calc(((100% - 1140px) / 2)  + 194px)}
.u-block-8f79-4 {right: calc(((100% - 1140px) / 2)  + 194px)} }

@media (max-width: 575px){ .u-block-8f79-3 {left: calc(((100% - 1140px) / 2) + 254px)}
.u-block-8f79-4 {right: calc(((100% - 1140px) / 2) + 254px)} }.u-section-1-1 .u-sheet-1 {min-height: 800px}
.u-section-1-1 .u-shape-1 {width: 348px; height: 392px; margin: 55px auto 0 222px}
.u-section-1-1 .u-image-1 {width: 580px; height: 615px; object-position: 50% 5.96%; background-position: 50% 5.96%; margin: -352px auto 0 31px}
.u-section-1-1 .u-shape-2 {width: 629px; height: 393px; background-image: none; margin: -587px 0 0 auto}
.u-section-1-1 .u-group-1 {width: 124px; min-height: 124px; margin: 116px auto 0 0}
.u-section-1-1 .u-text-1 {width: 116px; font-size: 3rem; line-height: 1; margin: 10px auto}
.u-section-1-1 .u-group-2 {width: 570px; min-height: 444px; margin: -599px 19px -305px auto}
.u-section-1-1 .u-container-layout-2 {padding-left: 20px; padding-right: 20px}
.u-section-1-1 .u-text-2 {font-size: 4.5rem; margin: 20px 0 0}
.u-section-1-1 .u-text-3 {margin: 31px 0 0} 

@media (max-width: 1199px){ .u-section-1-1 .u-sheet-1 {min-height: 716px}
.u-section-1-1 .u-shape-1 {width: 287px; margin-top: 40px; margin-left: 183px}
.u-section-1-1 .u-image-1 {width: 478px; height: 593px; margin-left: 26px}
.u-section-1-1 .u-shape-2 {width: 519px; height: 476px; margin-top: -543px}
.u-section-1-1 .u-group-1 {width: 102px; min-height: 100px; height: auto; margin-top: 20px}
.u-section-1-1 .u-text-1 {width: 95px; font-size: 2.27778rem}
.u-section-1-1 .u-group-2 {width: 470px; min-height: 427px; height: auto; margin-top: -571px; margin-right: 24px; margin-bottom: 190px}
.u-section-1-1 .u-container-layout-2 {padding-left: 16px; padding-right: 16px}
.u-section-1-1 .u-text-2 {font-size: 3.77778rem; position: relative} }

@media (max-width: 991px){ .u-section-1-1 .u-sheet-1 {min-height: 681px}
.u-section-1-1 .u-shape-1 {width: 220px; margin-left: 116px}
.u-section-1-1 .u-image-1 {width: 366px; height: 558px; object-position: 100% 49.22%; background-position: 100% 49.22%; margin-left: 16px}
.u-section-1-1 .u-shape-2 {width: 397px; margin-top: -527px}
.u-section-1-1 .u-group-1 {width: 85px; min-height: 85px; margin-top: 4px}
.u-section-1-1 .u-text-1 {width: 73px}
.u-section-1-1 .u-group-2 {width: 360px; margin-top: -540px; margin-right: 19px; margin-bottom: 168px}
.u-section-1-1 .u-container-layout-2 {padding-left: 10px; padding-right: 10px}
.u-section-1-1 .u-text-2 {font-size: 3rem} }

@media (max-width: 767px){ .u-section-1-1 .u-sheet-1 {min-height: 702px}
.u-section-1-1 .u-shape-1 {width: 223px; margin-top: 36px; margin-right: 52px; margin-left: auto}
.u-section-1-1 .u-image-1 {width: 478px; height: 563px; margin-top: -363px; margin-left: 31px}
.u-section-1-1 .u-shape-2 {width: 404px; height: 492px; margin-top: -68px}
.u-section-1-1 .u-group-1 {width: 84px; min-height: 89px; margin-top: -474px}
.u-section-1-1 .u-text-1 {width: 68px}
.u-section-1-1 .u-group-2 {width: 338px; min-height: 417px; margin-top: -70px; margin-right: 31px; margin-bottom: 102px}
.u-section-1-1 .u-container-layout-2 {padding-left: 5px; padding-right: 5px} }

@media (max-width: 575px){ .u-section-1-1 .u-sheet-1 {min-height: 949px}
.u-section-1-1 .u-shape-1 {width: 196px; height: 284px; margin-top: 55px; margin-right: 48px}
.u-section-1-1 .u-image-1 {height: 412px; width: 283px; margin-top: -250px; margin-left: 26px}
.u-section-1-1 .u-shape-2 {width: 291px; height: 339px; margin-top: -29px}
.u-section-1-1 .u-group-1 {min-height: 78px; margin-top: -520px}
.u-section-1-1 .u-group-2 {width: 251px; min-height: 448px; margin-top: 132px; margin-right: 20px; margin-bottom: 0}
.u-section-1-1 .u-container-layout-2 {padding-left: 1px; padding-right: 0}
.u-section-1-1 .u-text-2 {font-size: 1.88889rem; width: auto; margin-top: 33px; margin-right: 20px}
.u-section-1-1 .u-text-3 {margin-right: 2px} }.u-section-1-2 .u-sheet-1 {min-height: 800px}
.u-section-1-2 .u-shape-1 {width: 348px; height: 392px; margin: 55px auto 0 222px}
.u-section-1-2 .u-image-1 {width: 580px; height: 615px; object-position: 50% 49.22%; background-position: 50% 49.22%; margin: -352px auto 0 31px}
.u-section-1-2 .u-shape-2 {width: 629px; height: 350px; background-image: none; margin: -587px 0 0 auto}
.u-section-1-2 .u-group-1 {width: 124px; min-height: 124px; margin: 159px auto 0 0}
.u-section-1-2 .u-text-1 {width: 116px; font-size: 3rem; line-height: 1; margin: 10px auto}
.u-section-1-2 .u-group-2 {width: 570px; min-height: 444px; margin: -599px 19px -305px auto}
.u-section-1-2 .u-container-layout-2 {padding-left: 20px; padding-right: 20px}
.u-section-1-2 .u-text-2 {font-size: 4.5rem; margin: 20px 0 0}
.u-section-1-2 .u-text-3 {margin: 31px 0 0} 

@media (max-width: 1199px){ .u-section-1-2 .u-sheet-1 {min-height: 716px}
.u-section-1-2 .u-shape-1 {width: 287px; margin-top: 40px; margin-left: 183px}
.u-section-1-2 .u-image-1 {width: 478px; height: 593px; margin-left: 26px}
.u-section-1-2 .u-shape-2 {width: 519px; height: 476px; margin-top: -543px}
.u-section-1-2 .u-group-1 {width: 102px; min-height: 100px; height: auto; margin-top: 20px}
.u-section-1-2 .u-text-1 {width: 95px; font-size: 2.27778rem}
.u-section-1-2 .u-group-2 {width: 470px; min-height: 427px; height: auto; margin-top: -571px; margin-right: 24px; margin-bottom: 190px}
.u-section-1-2 .u-container-layout-2 {padding-left: 16px; padding-right: 16px}
.u-section-1-2 .u-text-2 {font-size: 3.77778rem; position: relative} }

@media (max-width: 991px){ .u-section-1-2 .u-sheet-1 {min-height: 681px}
.u-section-1-2 .u-shape-1 {width: 220px; margin-left: 116px}
.u-section-1-2 .u-image-1 {width: 366px; height: 558px; object-position: 100% 49.22%; background-position: 100% 49.22%; margin-left: 16px}
.u-section-1-2 .u-shape-2 {width: 397px; margin-top: -527px}
.u-section-1-2 .u-group-1 {width: 85px; min-height: 85px; margin-top: 4px}
.u-section-1-2 .u-text-1 {width: 73px}
.u-section-1-2 .u-group-2 {width: 360px; margin-top: -540px; margin-right: 19px; margin-bottom: 168px}
.u-section-1-2 .u-container-layout-2 {padding-left: 10px; padding-right: 10px}
.u-section-1-2 .u-text-2 {font-size: 3rem} }

@media (max-width: 767px){ .u-section-1-2 .u-sheet-1 {min-height: 702px}
.u-section-1-2 .u-shape-1 {width: 223px; margin-top: 36px; margin-right: 52px; margin-left: auto}
.u-section-1-2 .u-image-1 {width: 478px; height: 563px; margin-top: -363px; margin-left: 31px}
.u-section-1-2 .u-shape-2 {width: 404px; height: 492px; margin-top: -68px}
.u-section-1-2 .u-group-1 {width: 84px; min-height: 89px; margin-top: -474px}
.u-section-1-2 .u-text-1 {width: 68px}
.u-section-1-2 .u-group-2 {width: 338px; min-height: 417px; margin-top: -70px; margin-right: 31px; margin-bottom: 102px}
.u-section-1-2 .u-container-layout-2 {padding-left: 5px; padding-right: 5px} }

@media (max-width: 575px){ .u-section-1-2 .u-sheet-1 {min-height: 949px}
.u-section-1-2 .u-shape-1 {width: 196px; height: 284px; margin-top: 55px; margin-right: 48px}
.u-section-1-2 .u-image-1 {height: 412px; width: 283px; margin-top: -250px; margin-left: 26px}
.u-section-1-2 .u-shape-2 {width: 291px; height: 265px; margin-top: -29px}
.u-section-1-2 .u-group-1 {min-height: 78px; margin-top: -446px}
.u-section-1-2 .u-group-2 {width: 251px; min-height: 448px; margin-top: 132px; margin-right: 20px; margin-bottom: 0}
.u-section-1-2 .u-container-layout-2 {padding-left: 1px; padding-right: 0}
.u-section-1-2 .u-text-2 {font-size: 1.88889rem; width: auto; margin-top: 33px; margin-right: 20px}
.u-section-1-2 .u-text-3 {margin-right: 2px} }.u-section-2 .u-sheet-1 {min-height: 231px}
.u-section-2 .u-layout-wrap-1 {margin: 0 auto 15px 0}
.u-section-2 .u-layout-cell-1 {min-height: 216px; background-image: none}
.u-section-2 .u-container-layout-1 {padding-left: 30px; padding-right: 30px}
.u-section-2 .u-icon-1 {height: 87px; width: 87px; background-image: none; margin: 25px auto 0}
.u-section-2 .u-text-1 {font-size: 1.875rem; margin: 30px 0 0}
.u-section-2 .u-layout-cell-2 {min-height: 216px; background-image: none}
.u-section-2 .u-container-layout-2 {padding-left: 30px; padding-right: 30px}
.u-section-2 .u-icon-2 {height: 87px; width: 87px; background-image: none; margin: 25px auto 0}
.u-section-2 .u-text-2 {font-size: 1.875rem; margin: 30px 0 0}
.u-section-2 .u-layout-cell-3 {min-height: 216px; background-image: none}
.u-section-2 .u-container-layout-3 {padding-left: 30px; padding-right: 30px}
.u-section-2 .u-icon-3 {height: 87px; width: 87px; background-image: none; margin: 25px auto 0}
.u-section-2 .u-text-3 {font-size: 1.875rem; margin: 30px 0 0} 

@media (max-width: 1199px){ .u-section-2 .u-sheet-1 {min-height: 562px}
.u-section-2 .u-layout-wrap-1 {margin-bottom: 54px; margin-right: initial; margin-left: initial}
.u-section-2 .u-layout-cell-1 {min-height: 362px}
.u-section-2 .u-container-layout-1 {padding-left: 0; padding-right: 0}
.u-section-2 .u-icon-1 {height: 88px; width: 88px; margin-top: 35px}
.u-section-2 .u-text-1 {margin-top: 29px; margin-left: 20px; margin-right: 20px}
.u-section-2 .u-layout-cell-2 {min-height: 362px}
.u-section-2 .u-container-layout-2 {padding-left: 0; padding-right: 0}
.u-section-2 .u-icon-2 {height: 88px; width: 88px; margin-top: 35px}
.u-section-2 .u-text-2 {margin-top: 25px; margin-left: 21px; margin-right: 21px}
.u-section-2 .u-layout-cell-3 {min-height: 362px}
.u-section-2 .u-container-layout-3 {padding-left: 0; padding-right: 0}
.u-section-2 .u-icon-3 {height: 88px; width: 88px; margin-top: 35px}
.u-section-2 .u-text-3 {margin-top: 33px; margin-left: 19px; margin-right: 19px} }

@media (max-width: 991px){ .u-section-2 .u-layout-wrap-1 {margin-top: 26px; margin-bottom: 26px; margin-right: initial; margin-left: initial}
.u-section-2 .u-layout-cell-1 {min-height: 361px}
.u-section-2 .u-icon-1 {height: 93px; width: 93px; margin-top: 6px}
.u-section-2 .u-text-1 {font-size: 1.5rem; margin-top: 30px; margin-left: 16px; margin-right: 16px}
.u-section-2 .u-layout-cell-2 {min-height: 361px}
.u-section-2 .u-icon-2 {height: 93px; width: 93px; margin-top: 6px}
.u-section-2 .u-text-2 {font-size: 1.5rem; margin-top: 30px; margin-left: 16px; margin-right: 16px}
.u-section-2 .u-layout-cell-3 {min-height: 361px}
.u-section-2 .u-icon-3 {height: 93px; width: 93px; margin-top: 6px}
.u-section-2 .u-text-3 {font-size: 1.5rem; margin-top: 30px; margin-left: 16px; margin-right: 16px} }

@media (max-width: 767px){ .u-section-2 .u-layout-wrap-1 {margin-top: 0; margin-bottom: 40px; margin-right: initial; margin-left: initial}
.u-section-2 .u-layout-cell-1 {min-height: 362px}
.u-section-2 .u-icon-1 {height: 99px; width: 99px; margin-top: 59px}
.u-section-2 .u-text-1 {margin-left: 23px; margin-right: 23px; font-size: 1.875rem}
.u-section-2 .u-layout-cell-2 {min-height: 362px}
.u-section-2 .u-icon-2 {height: 99px; width: 99px; margin-top: 59px}
.u-section-2 .u-text-2 {margin-left: 23px; margin-right: 23px; font-size: 1.875rem}
.u-section-2 .u-layout-cell-3 {min-height: 362px}
.u-section-2 .u-icon-3 {height: 99px; width: 99px; margin-top: 59px}
.u-section-2 .u-text-3 {margin-left: 23px; margin-right: 23px; font-size: 1.875rem} }

@media (max-width: 575px){ .u-section-2 .u-layout-wrap-1 {margin-bottom: 50px; margin-right: initial; margin-left: initial}
.u-section-2 .u-icon-1 {height: 92px; width: 91px; margin-top: 48px}
.u-section-2 .u-text-1 {margin-left: 15px; margin-right: 15px}
.u-section-2 .u-icon-2 {height: 91px; width: 91px; margin-top: 49px}
.u-section-2 .u-text-2 {margin-left: 15px; margin-right: 15px}
.u-section-2 .u-icon-3 {height: 91px; width: 91px; margin-top: 29px} }.u-section-3 .u-sheet-1 {min-height: 1190px}
.u-section-3 .u-shape-1 {width: 957px; height: 458px; margin: 151px 0 0 auto}
.u-section-3 .u-image-1 {width: 467px; height: 560px; object-position: 50% 0%; background-position: 50% 0%; margin: -148px 72px 0 auto}
.u-section-3 .u-image-2 {width: 654px; height: 477px; object-position: 50% 11.31%; background-position: 50% 11.31%; filter: brightness(0.8); margin: -978px auto 0 227px}
.u-section-3 .u-image-3 {width: 379px; height: 480px; object-position: 50% 100%; background-position: 50% 100%; margin: -269px auto 0 0}
.u-section-3 .u-group-1 {width: 685px; min-height: 285px; margin: -562px 0 0 auto}
.u-section-3 .u-container-layout-1 {padding-left: 20px; padding-right: 20px}
.u-section-3 .u-text-1 {text-transform: uppercase; font-size: 3.75rem; margin: 25px 0}
.u-section-3 .u-group-2 {width: 820px; min-height: 275px; margin: 463px 154px 0 auto}
.u-section-3 .u-container-layout-2 {padding-left: 20px; padding-right: 0}
.u-section-3 .u-text-2 {margin: 35px 107px 0 0}
.u-section-3 .u-group-3 {width: 436px; min-height: 185px; margin: -460px auto 0 166px}
.u-section-3 .u-container-layout-3 {padding-left: 20px; padding-right: 20px}
.u-section-3 .u-text-3 {margin: 16px 0}
.u-section-3 .u-shape-2 {width: 14px; height: 288px; margin: -288px auto 60px 152px} 

@media (max-width: 1199px){ .u-section-3 .u-sheet-1 {min-height: 1052px}
.u-section-3 .u-shape-1 {width: 789px; height: 428px; margin-top: 71px}
.u-section-3 .u-image-1 {width: 428px; height: 646px; margin-top: -125px; margin-right: 16px}
.u-section-3 .u-image-2 {width: 539px; height: 393px; margin-left: 187px}
.u-section-3 .u-image-3 {width: 313px; height: 396px}
.u-section-3 .u-group-1 {width: 611px; min-height: 316px; height: auto; margin-top: -481px; margin-right: 16px}
.u-section-3 .u-container-layout-1 {padding-left: 16px; padding-right: 16px}
.u-section-3 .u-text-1 {position: relative; margin-top: 30px; margin-bottom: 30px}
.u-section-3 .u-group-2 {width: 732px; min-height: 304px; height: auto; margin-top: 422px; margin-right: 71px}
.u-section-3 .u-container-layout-2 {padding-left: 16px}
.u-section-3 .u-text-2 {position: relative; margin-right: 88px}
.u-section-3 .u-group-3 {width: 360px; height: auto; margin-top: -528px; margin-left: 137px}
.u-section-3 .u-container-layout-3 {padding-left: 16px; padding-right: 16px}
.u-section-3 .u-shape-2 {width: 12px; margin-bottom: 152px; margin-left: 125px} }

@media (max-width: 991px){ .u-section-3 .u-sheet-1 {min-height: 1077px}
.u-section-3 .u-shape-1 {width: 652px; height: 436px; margin-top: 223px}
.u-section-3 .u-image-1 {width: 308px; height: 405px; margin-top: -111px; margin-right: 0}
.u-section-3 .u-image-2 {width: 562px; height: 507px; margin-top: -857px; margin-right: 45px; margin-left: auto}
.u-section-3 .u-image-3 {width: 326px; height: 421px; margin-top: -243px}
.u-section-3 .u-group-1 {width: 520px; min-height: 256px; margin-top: -676px; margin-right: 66px}
.u-section-3 .u-container-layout-1 {padding-left: 13px; padding-right: 13px}
.u-section-3 .u-text-1 {font-size: 3rem; margin-top: 23px; margin-bottom: 23px}
.u-section-3 .u-group-2 {width: 518px; min-height: 311px; margin-top: 754px; margin-right: 67px}
.u-section-3 .u-container-layout-2 {padding-left: 13px}
.u-section-3 .u-text-2 {margin-right: 68px}
.u-section-3 .u-group-3 {width: 531px; min-height: 161px; margin-top: -472px; margin-right: 61px; margin-left: auto}
.u-section-3 .u-container-layout-3 {padding-left: 13px; padding-right: 13px}
.u-section-3 .u-text-3 {margin-top: 15px; margin-bottom: 15px}
.u-section-3 .u-shape-2 {width: 13px; height: 407px; margin-top: -425px; margin-bottom: 406px; margin-left: 96px} }

@media (max-width: 767px){ .u-section-3 .u-sheet-1 {min-height: 1135px}
.u-section-3 .u-shape-1 {height: 611px; width: 482px; margin-top: 93px}
.u-section-3 .u-image-1 {width: 277px; height: 332px; margin-top: -130px; margin-right: 6px}
.u-section-3 .u-image-2 {width: 493px; height: 395px; margin-top: -871px; margin-right: auto; margin-left: 20px}
.u-section-3 .u-image-3 {width: 224px; height: 284px; margin-top: -42px}
.u-section-3 .u-group-1 {width: 406px; min-height: 296px; margin-top: -567px; margin-right: 58px}
.u-section-3 .u-container-layout-1 {padding-left: 6px; padding-right: 6px}
.u-section-3 .u-text-1 {margin-top: 30px; margin-bottom: 30px}
.u-section-3 .u-group-2 {width: 458px; min-height: 366px; margin-top: 742px; margin-right: 6px}
.u-section-3 .u-container-layout-2 {padding-left: 6px}
.u-section-3 .u-text-2 {margin-right: 32px}
.u-section-3 .u-group-3 {width: 429px; min-height: 236px; margin-top: -583px; margin-right: 35px}
.u-section-3 .u-container-layout-3 {padding-left: 6px; padding-right: 6px}
.u-section-3 .u-text-3 {margin-top: 25px; margin-bottom: 25px}
.u-section-3 .u-shape-2 {width: 8px; height: 612px; margin-top: -566px; margin-bottom: 301px; margin-left: 30px} }

@media (max-width: 575px){ .u-section-3 .u-sheet-1 {min-height: 1786px}
.u-section-3 .u-shape-1 {height: 651px; width: 316px; margin-top: 20px}
.u-section-3 .u-image-1 {width: 253px; height: 368px; margin-top: -120px; margin-right: 20px}
.u-section-3 .u-image-2 {height: 417px; margin-top: -847px; margin-right: initial; margin-left: initial; width: auto}
.u-section-3 .u-image-3 {margin-top: 370px}
.u-section-3 .u-group-1 {min-height: 230px; width: 305px; margin-top: -912px; margin-right: 11px}
.u-section-3 .u-container-layout-1 {padding-left: 2px; padding-right: 22px}
.u-section-3 .u-text-1 {font-size: 2.27778rem; margin-top: 25px; margin-bottom: 25px}
.u-section-3 .u-group-2 {min-height: 357px; width: 316px; margin-top: 968px; margin-right: 0}
.u-section-3 .u-container-layout-2 {padding-left: 2px}
.u-section-3 .u-text-2 {margin-right: 10px}
.u-section-3 .u-group-3 {min-height: 229px; width: 305px; margin-top: -596px; margin-right: 0}
.u-section-3 .u-container-layout-3 {padding-left: 2px; padding-right: 2px}
.u-section-3 .u-text-3 {margin-bottom: 12px}
.u-section-3 .u-shape-2 {width: 9px; height: 371px; margin-top: -369px; margin-bottom: 60px; margin-left: 14px} }